/*header*/
.todo-header h1 {
  text-align: center;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #E2BCB7;
  margin: 0 auto 40px;
  width: 200px;
}

.todo-header input {
    width: 420px;
    height: 28px;
    font-family: "Architects Daughter", cursive;
    font-size: 14px;
    padding: 4px 7px;
    background-color: transparent;
    border: solid 1px transparent;
    border-bottom: dashed 2px #E2BCB7;
  }
  
  .todo-header input:focus {
    outline: none;
    border-color: #E2BCB7;
    box-shadow: inset 0 1px 1px rgba(230, 224, 224, 0.925), 0 0 8px #E2BCB7;
  }